.header {
    display: flex;
    width: 100%;
    height: 68px;
    justify-content: space-between;
    margin: 40px auto;
    color: $primary-color;
    align-items: center;

    h1 {
        font-size: 90px;
        letter-spacing: 3px;
    }

    img {
        position: relative;
        top: 5px;
        width: 46px;
        height: 53px;
        margin-right: 4px;
    }

    ul {
        position: relative;
        top: 5px;
        display: flex;
        list-style-type: none;
        font-size: 24px;
        width: 300px;
        justify-content: space-between;
    }

    li {
        position: relative;
        &:hover {
            color: darken($primary-color, 10%);
            &::after {
                transform: scaleX(1);
                background-color: darken($primary-color, 10%);
            }
        }
    }

    .navIsActive li::before {
        content: "";
        height: 2px;
        background-color: $primary-color;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    li:after {
        content: "";
        height: 2px;
        background-color: $primary-color;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 1s;
        transform: scaleX(0);
        transform-origin: left;
    }
}

@media (max-width: 700px) {
    .header {
        h1 {
            font-size: 60px;

            img {
                height: 45px;
                width: 35px;
            }
        }
        ul {
            width: 195px;
            font-size: 20px;
        }
    }
}

@media (max-width: 400px) {
    .header {
        margin: 10px auto;
        h1 {
            font-size: 55px;
            img {
                height: 35px;
                width: 30px;
                margin-right: 4px;
            }
        }
        ul {
            width: 140px;
            text-transform: uppercase;
            font-size: 12px;
        }

        .navIsActive li::before {
            height: 1px;
        }
        .navIsActive li::after {
            height: 1px;
        }
    }
}
