.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    margin-bottom: 43px;

    h1 {
        font-size: 290px;
    }

    h2 {
        font-size: 36px;
    }
    a {
        margin-top: 180px;
        text-decoration: underline;
    }
}

@media (max-width: 800px) {
    .error {
        h1 {
            font-size: 150px;
        }

        h2 {
            font-size: 25px;
            text-align: center;
        }
    }
}

@media (max-width: 375px) {
    .error {
        margin-top: 195px;
        h1 {
            font-size: 96px;
        }

        h2 {
            font-size: 18px;
        }

        a {
            margin-top: 133px;
            font-size: 14px;
        }
    }
}
