.housingCarrousel {
    position: relative;
    height: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    .contentImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    span {
        position: absolute;
        bottom: 25px;
        font-size: 18px;
        color: white;
    }

    .leftArrow {
        position: absolute;
        left: 20px;
        width: 80px;
        height: 45px;
        transform: rotate(90deg);

        &:hover {
            cursor: pointer;
        }
    }

    .rightArrow {
        position: absolute;
        right: 20px;
        width: 80px;
        height: 45px;
        transform: rotate(-90deg);

        &:hover {
            cursor: pointer;
        }
    }

    .none {
        display: none;
    }
}

.informations {
    color: $primary-color;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
        margin-top: 8px;
    }

    img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
    }

    ul {
        list-style-type: none;
        display: flex;
        margin-top: 20px;

        li {
            font-size: 14px;
            background-color: $primary-color;
            color: white;
            padding: 5px 40px;
            border-radius: 10px;
            margin-right: 10px;
        }
    }
}

.hostInformations {
    display: flex;
    text-align: center;

    p {
        width: 100px;
        text-align: right;
        margin-right: 10px;
        margin-top: 10px;
    }
}

.housingCollapse {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    .collapse {
        h2,
        p {
            font-size: 18px;
        }
        width: 582px;
    }
}

.housingCarrousel {
    svg:hover {
        path {
            fill: rgb(233, 233, 233);
            transform: scale(0.98);
        }
    }
}

.rating {
    position: relative;
    margin-top: 26px;
    height: 30px;
    .filledStars {
        position: absolute;
        top: 0;
    }
}

@media (max-width: 1300px) {
    .informations {
        h1 {
            font-size: 28px;
        }
    }

    .housingCollapse {
        .collapse {
            width: 47%;

            h2,
            p {
                font-size: 16px;
            }
        }
        h2 {
            font-size: 20px;
        }
    }
}

@media (max-width: 800px) {
    .housingCarrousel {
        .rightArrow,
        .leftArrow {
            width: 60px;
        }
    }

    .informations {
        flex-direction: column;

        ul {
            li {
                display: flex;
                align-items: center;
            }
        }
        .right {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;

            .rating svg {
                height: 25px;
            }
        }
    }

    .housingCollapse {
        flex-direction: column;

        .collapse {
            width: 100%;
            margin: 0;
        }
    }
}

@media (max-width: 600px) {
    .housingCarrousel {
        height: 300px;
    }

    .informations {
        h1 {
            font-size: 24px;
        }
        p {
            font-size: 15px;
        }

        ul {
            flex-wrap: wrap;
            li {
                font-size: 10px;
                margin-bottom: 5px;
                padding: 5px 15px;
            }
        }

        .right {
            .rating {
                svg {
                    height: 15px;
                }
            }

            .hostInformations {
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .housingCarrousel {
        .rightArrow,
        .leftArrow {
            width: 25px;
        }
        span {
            display: none;
        }
    }

    .informations {
        h1 {
            font-size: 18px;
        }
        .left {
            p {
                font-size: 14px;
            }
        }

        .right {
            .rating {
                margin-top: 0;
            }
            margin-top: 15px;
            .hostInformations {
                p {
                    width: 80px;
                    font-size: 12px;
                    margin-top: 0;
                }

                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }

    .housingCollapse {
        .collapse {
            h2 {
                font-size: 13px;
                height: 30px;
                border-radius: 5px;
            }

            p {
                font-size: 12px;
            }
            svg {
                width: 20px;
            }
        }
    }
}
