.housingBanner {
    position: relative;
    height: 415px;
    display: flex;
    align-items: center;
    .contentImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .leftArrow {
        position: absolute;
        left: 20px;
        width: 80px;
        height: 45px;
        transform: rotate(90deg);

        &:hover {
            cursor: pointer;
        }
    }

    .rightArrow {
        position: absolute;
        right: 20px;
        width: 80px;
        height: 45px;
        transform: rotate(-90deg);

        &:hover {
            cursor: pointer;
        }
    }

    .none {
        display: none;
    }
}

.informations {
    color: $primary-color;

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
    }

    img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
    }
}
