.aboutBanner {
    background: url("../../../assets/aboutBanner.jpg") center/cover;
    height: 223px;
    border-radius: 25px;
    margin-bottom: 31px;
}

@media (max-width: 800px) {
    .aboutCollapse {
        .collapse {
            .block {
                h2 {
                    font-size: 18px;
                    border-radius: 5px;
                }

                p {
                    font-size: 17px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .aboutBanner {
        background: url("../../../assets/responsiveAboutBanner.jpg")
            center/cover;
    }

    .aboutCollapse {
        .collapse {
            .block {
                h2 {
                    font-size: 13px;
                    height: 30px;
                    border-radius: 5px;
                }

                svg {
                    width: 20px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
}
