.aboutBanner {
    background: url("../../../assets/aboutBanner.jpg") center/cover;
    height: 223px;
    border-radius: 25px;
    margin-bottom: 31px;

    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        background-color: black;
        opacity: 0.3;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

@media (max-width: 800px) {
    .aboutCollapse {
        .collapse {
            .block {
                h2 {
                    font-size: 18px;
                    border-radius: 5px;
                }

                p {
                    font-size: 17px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .aboutBanner {
        background: url("../../../assets/responsiveAboutBanner.jpg")
            center/cover;
    }

    .aboutCollapse {
        .collapse {
            .block {
                h2 {
                    font-size: 13px;
                    height: 30px;
                    border-radius: 5px;
                }

                svg {
                    width: 20px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
}
